spring:
  application:
    name: board demo

  datasource:
    url: jdbc:mysql://localhost:3307/liondb
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


